<!DOCTYPE html>

<html>

<head>
	<title>Sasini Sathsara</title>
  	
  	<!-- Favicons -->
  	<link href="img/favicon.jpg" rel="icon">
  	<link href="img/favicon.jpg" rel="apple-touch-icon">

	<meta name="theme-color" content="#204557" />
    <meta
      name="description"
      content="I'm a Microbiology undergraduate with creative insight into the field of Microbiology. I'm also passionate more about the research field. I'm determined to improve myself and strive forward in achieving my goals. As a hobby, I do voice documentries for entertainment videos, motivational videos, so on for traveling vlogs too."
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Sasini Wijewarna" />
    <meta name="referrer" content="always" />

    <!-- share link details -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Sasini Wijewarna CV" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sasini98.github.io/sasini98/" />
    <meta property="og:title" content="Sasini Wejewarna" />
    <meta
      property="og:description"
      content="I'm a Microbiology undergraduate with creative insight into the field of Microbiology. I'm also passionate more about the research field. I'm determined to improve myself and strive forward in achieving my goals. As a hobby, I do voice documentries for entertainment videos, motivational videos, so on for traveling vlogs too."
    />
    <meta
      property="og:image"
      content="img/thumb.jpg"
    />
    <meta
      property="article:published_time"
      content="2021-08-23T00:00:00+00:00"
    />
    <meta
      property="article:modified_time"
      content="2021-08-26T00:00:00+00:00"
    />
    <meta property="article:author" content="Sasini Wijewarna" />
    <meta name="twitter:url" content="https://sasini98.github.io/sasini98/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Sasini Wijewarna" />
    <meta
      name="twitter:description"
      content="I'm a Microbiology undergraduate with creative insight into the field of Microbiology. I'm also passionate more about the research field. I'm determined to improve myself and strive forward in achieving my goals. As a hobby, I do voice documentries for entertainment videos, motivational videos, so on for traveling vlogs too."
    />
    <meta
      name="twitter:image"
      content="img/thumb.jpg"
    />

	<!--font awesome-->
	<script src="js/a076d05399.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>

<style type="text/css">
	.badge-primary-color{
		background-color: #8113de;
		margin-right: 4px;
	}
	.badge-primary-color-skill{
		margin-left: -5px;
		border-radius: 0px;
	}
	.skill-c-1{
		background-color: #8400a5;
	}
	.skill-c-2{
		background-color: #a412c6;
	}
	.skill-c-3{
		background-color: #a438be;
	}
	.skill-c-4{
		background-color: #ad4ec6;
	}
	.skill-c-5{
		background-color: #b966cd;
	}
	.skill-c-6{
		background-color: #c480d6;
	}
	.skill-c-7{
		background-color: #ce9bdd;
		color: black;
	}
	.skill-c-8{
		background-color: #e9d6ee;
		color: black;
	}
</style>

<!-- <page size="A4">

<div class="row main-row-div">
	<div class="col-sm-4 left-main-div">
		
		<div class="my-img">
			<img src="img/img.JPG" alt="dp">			
		</div>
		
		<div class="my-contact">
			<p class="head-p"> >> whois sasini</p>
			<div class="contact-icon-list">
				<i class="fa fa-envelope fa-sm contact-icon-color"></i><p class="contact-p">&nbsp; sasiniwijewarna1998@gmail.com</p></i><br>
				<i class="fa fa-phone-square-alt fa-sm contact-icon-color"></i><p class="contact-p">&nbsp; (+94) 76 015 5511</p></i><br>
				<i class="fas fa-map-marker-alt fa-sm contact-icon-color"></i><p class="contact-p">&nbsp; Galle, Sri Lanka</p></i><br>
				<a href="https://www.linkedin.com/in/sasiniwijewarna/" target="_black"><i class="fab fa-linkedin fa-sm contact-icon-color"></i><p class="contact-p">&nbsp; linkedin.com/in/sasiniwijewarna</p></i></a><br>
				<a href="https://sasini606206650.wordpress.com/" target="_black"><i class="fas fa-link fa-sm contact-icon-color"></i><p class="contact-p">&nbsp; shorturl.at/elLR4</p></i></a><br>
			</div>
		</div>

		<hr class="hr-left">
			
		<div class="my-education">
			<p class="head-p"> >> about education</p>
			<div class="education-list">
				<div class="education-list-1">
					<p class="education-p">Bachelor of Science(Hons)</p>
					<p class="education-p">Specializing in Microbiology</p>
					<p class="education-p">Lovely Professional University, Punjab, India</p>
					<div class="row">
						<div class="col-sm-6 education-p-rank">2017 - present</div>
						<div class="col-sm-6 education-p-rank">CGPA 7.90</div>
					</div>	
				</div>
			</div>

			<div class="education-list">
				<div class="education-list-1">
					<p class="education-p">GCE Advanced level in Bio stream</p>
					<p class="education-p">Anula Vidyalaya, Nugegoda</p>
					<div class="row">
						<div class="col-sm-6 education-p-rank">2015 - 2018</div>
						<div class="col-sm-6 education-p-rank">3C's English A</div>						
					</div>
				</div>
			</div>

			<div class="education-list">
				<div class="education-list-1">
					<p class="education-p">GCE Ordinary Level</p>
					<p class="education-p">Gothami Balika Vidyalaya, Colombo 10</p>
					<div class="row">
						<div class="col-sm-6 education-p-rank">2009 - 2014</div>
						<div class="col-sm-6 education-p-rank">9A's</div>						
					</div>
				</div>
			</div>							
		</div>

		<hr class="hr-left">

		<div class="my-clubs">
			<p class="head-p"> >> activities and societies</p>
			<div class="clubs-list">
				<p class="clubs-p-sym">~</p><p class="clubs-p">&nbsp; Member of House Debating Team</p><br>
				<p class="clubs-p-sym">~</p><p class="clubs-p">&nbsp; Member of Media Unit</p><br>
				<p class="clubs-p-sym">~</p><p class="clubs-p">&nbsp; Member of Environmental Society</p><br>
				<p class="clubs-p-sym">~</p><p class="clubs-p">&nbsp; Secretary of Agriculture Committee</p><br>
				<p class="clubs-p-sym">~</p><p class="clubs-p">&nbsp; Member of School Dancing Team</p><br>
			</div>	
		</div>

		<hr class="hr-left">

		<div class="my-sports">
			<p class="head-p"> >> about sports</p>
			<div class="clubs-list">
				<p class="clubs-p-sym">~</p><p class="clubs-p">&nbsp; Member of School Badminton Team</p><br>
				<p class="clubs-p-sym">~</p><p class="clubs-p">&nbsp; Junior House Captain-2014</p><br>
			</div>	
		</div>

		<hr class="hr-left">

	</div>
	<div class="col-sm-8">
		<div class="my-name">
			<p class="head-p"> >> whoami</p>
			<div class="row">
				<div class="col-sm-7 name-class-1">
					<p class="my-name-p">SASINI SATHSARA</p>
				</div>
				<div class="col-sm-5 name-class-2">
					<p class="name-p-int">MICROBIOLOGIST STUDENT</p>
					<p class="name-p-int">ANNOUNCER</p>
				</div>
			</div>	
		</div>

		<div class="my-name">
			<i class="fas fa-user fa-lg contact-icon-color"></i><p class="contact-p-head">&nbsp; INTRODUCTION</p></i><br>

			<hr class="head-hr-design">	

			<p class="exp-p-details">I'm a Microbiology undergraduate with creative insight into the field of <b>Microbiology</b>. I'm also passionate more about the <b>research field</b>. I'm determined to improve myself and strive forward in achieving my goals. As a hobby, I do <b>voice documentries</b> for entertainment videos, motivational videos, so on for traveling vlogs too.</p>

		</div>

		<div class="my-skills">
			<i class="fas fa-tasks fa-lg contact-icon-color"></i><p class="contact-p-head">&nbsp; SKILLS</p></i><br>

			<hr class="head-hr-design">	

			<div class="row mb-2">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-5">
							<p class="exp-p-details">Verbal Communication</p>
						</div>
						<div class="col-sm-7">
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
						</div> 
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-5">
							<p class="exp-p-details">Written Communication</p>
						</div>
						<div class="col-sm-7">
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
						</div> 
					</div>
				</div>       		
			</div>

			<div class="row mb-2">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-5">
							<p class="exp-p-details">Time Management</p>
						</div>
						<div class="col-sm-7">
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
						</div> 
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-5">
							<p class="exp-p-details">Problem Solving</p>
						</div>
						<div class="col-sm-7">
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
						</div> 
					</div>
				</div>       		
			</div>

			<div class="row mb-2">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-5">
							<p class="exp-p-details">Leadership</p>
						</div>
						<div class="col-sm-7">
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
						</div> 
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-5">
							<p class="exp-p-details">Team Work</p>
						</div>
						<div class="col-sm-7">
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
							<i class="fa fa-star contact-icon-color" aria-hidden="true"></i>
						</div> 
					</div>
				</div>       		
			</div>

			<hr class="hr-left">

			<div class="row">
				<div class="col-sm-3">
					<p class="exp-p-details">PCR Technique</p>
				</div>
				<div class="col-sm-9">
					<span class="badge badge-primary badge-primary-color-skill skill-c-1">Real-time</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-2">Multiplex</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-3">Long-range</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-4">Single-cell</span>
				</div>        		
			</div>

			<div class="row" style="margin-top: 5px;">
				<div class="col-sm-3">
					<p class="exp-p-details">Chemical extraction</p>
				</div>
				<div class="col-sm-9">
					<span class="badge badge-primary badge-primary-color-skill skill-c-1">Liquid-liquid</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-3">Solid-phase</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-4">Heat reflux</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-5">AJAX</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-6">Maceration</span>
				</div>        		
			</div>

			<div class="row" style="margin-top: 5px;">
				<div class="col-sm-3">
					<p class="exp-p-details">Laboratory Skills</p>
				</div>
				<div class="col-sm-9">
					<span class="badge badge-primary badge-primary-color-skill skill-c-1">Researching</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-2">Analyzing</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-3">Listening</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-4">Careful Observation</span>
				</div>        		
			</div>

			<div class="row" style="margin-top: 5px;">
				<div class="col-sm-3">
					<p class="exp-p-details">Used Instruments</p>
				</div>
				<div class="col-sm-9">
					<span class="badge badge-primary badge-primary-color-skill skill-c-1">Analytical Balance</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-2">Autoclave</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-3">Centrifuge</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-4">Deep Freezer</span>
				</div>        		
			</div>

			<div class="row" style="margin-top: 5px;">
				<div class="col-sm-3">
					<p class="exp-p-details">IT skills</p>
				</div>
				<div class="col-sm-9">
					<span class="badge badge-primary badge-primary-color-skill skill-c-1">Data analytics</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-2">Project management</span>
					<span class="badge badge-primary badge-primary-color-skill skill-c-4">Programming</span>
				</div>        		
			</div>

			<div class="row" style="margin-top: 5px;">
				<div class="col-sm-3">
					<p class="exp-p-details">Theoretical knowledge</p>
				</div>
				<div class="col-sm-9">
					<p class="exp-p-details">Fundamental of Botany, Cell Biology, Biochemistry, DNA Technology, Virology, Food Microbiology</p>
				</div>        		
			</div>

		</div>

		<div class="my-experience">
			<i class="fas fa-file-signature fa-lg contact-icon-color"></i><p class="contact-p-head">&nbsp; EXPERIENCE</p></i><br>
			
			<hr class="head-hr-design">

			<p class="experience-p-head">Contribute from Voice Recording</p>
			<p style="font-size: 13px;margin-bottom: 0px; margin-top: -5px;">Rotaract Club Faculty Of Medicine Colombo</p>

			<div class="row computer-trainee-div">
				<span class="badge badge-primary badge-primary-color">Video Narration</span>
				<span class="badge badge-primary badge-primary-color">Audiobook</span>
				<span class="badge badge-primary badge-primary-color">Calming</span>
				<span class="badge badge-primary badge-primary-color">Dramatic</span>
				<span class="badge badge-primary badge-primary-color">eLearning</span>	
			</div>
			
			<p class="exp-p-details">Contribute from Voice Recording to Audiobooks Which will be donated to Visually Impaired Students of the Sandagala Special School.</p>

			<p class="experience-p-head" style="margin-top: 10px;">Participated in Train Green Program 2013/2014</p>
			<p style="font-size: 13px;margin-bottom: 0px; margin-top: -5px;">HSBC Bank</p>

			<div class="row computer-trainee-div">
				<span class="badge badge-primary badge-primary-color">Social Services</span>
				<span class="badge badge-primary badge-primary-color">Donation</span>
			</div>
			
			<p class="exp-p-details">HSBC bank conducted a train green program in 2013/2014 with the contribution of 10 schools in the Colombo district. under the guidance of the program and with the help of other team members did a project at school and brought a donation to our school from the HSBC Bank.</p>

			<p class="experience-p-head" style="margin-top: 10px;">Voice Actor | REMOTE WORKING</p>
			<p style="font-size: 13px;margin-bottom: 0px; margin-top: -5px;">Fiverr</p>

			<div class="row computer-trainee-div">
				<span class="badge badge-primary badge-primary-color">Podcasts</span>
				<span class="badge badge-primary badge-primary-color">Children's books</span>
				<span class="badge badge-primary badge-primary-color">Narration</span>
				<span class="badge badge-primary badge-primary-color">Commercials</span>
			</div>
			
			<p class="exp-p-details">Earned great experience working with various clients from different countries, on various platforms.</p>

		</div>

	</div>
</div>

</page> -->

<page size="A4">

<div class="row main-row-div main-row-div-pg1">
	<div class="col-sm-12 my-competitions">

		<i class="fab fa-researchgate fa-lg contact-icon-color"></i><p class="contact-p-head">&nbsp; RESEARCH & PUBLICATION WORKS</p></i><br>

		<hr class="head-hr-design">	

		<div class="row container">
			<div class="item-title competitipn-p-head">Fish Gut Microbes</div>
		</div>

		<div class="row computer-trainee-div">
			<span class="badge badge-primary badge-primary-color">Microbes</span>
		</div>

		<div class="row mb-4">
			<div class="col-sm-12">
				<div class="item-detail" style="color: black; font-size: 12px; margin-top: 5px; text-align: justify;">How Gut Microbes can be helpful for the fishes to be adapted to the Aquatic Environment.</div>
			</div> 		     
		</div>

		<i class="fas fa-project-diagram fa-lg contact-icon-color"></i><p class="contact-p-head">&nbsp; PROJECTS</p></i><br>

		<hr class="head-hr-design">	

		<div class="history-tl-container history-tl-container-project">
		  <ul class="tl">
			<li class="tl-item" ng-repeat="item in retailer_history">
				<div class="row">	
					<div class="col-sm-6">
						<div class="item-title competitipn-p-head">Detection of Microbial Contamination in Water Samples</div>	
					</div>
					<div class="col-sm-6">
						<div class="row computer-trainee-div">
							<span class="badge badge-primary badge-primary-color">Report</span>
							<span class="badge badge-primary badge-primary-color">Pathogen Identification</span>
							<span class="badge badge-primary badge-primary-color">Laboratory Tests</span>
						</div>	    									
					</div>	
				</div>	
			  <div class="row">
				<div class="col-sm-12">
				  <div class="item-detail">Wrote a report which contains the many ways for pathogen identification in water samples from laboratory tests through to modern technologies which can be used for pathogen detection.</div>
				</div> 		     
			   </div>
			  <div class="row">
				<div class="col-sm-12">
					<a href="https://drive.google.com/drive/folders/1I_fCEynKeeRk7wxSpuslqZ_DIL06s93P?usp=sharing" target="_black">shorturl.at/nsIPU</a>  
			   </div>
			  </div>			   
			</li>
			
			<li class="tl-item" ng-repeat="item in retailer_history">
				<div class="row">	
					<div class="col-sm-6">
						<div class="item-title competitipn-p-head">Motivational voice clips Design/ YouTube Channel</div>	
					</div>
					<div class="col-sm-6">
					<div class="row computer-trainee-div">
						<span class="badge badge-primary badge-primary-color">Motivational</span>
						<span class="badge badge-primary badge-primary-color">Voiceover</span>
						<span class="badge badge-primary badge-primary-color">YouTube</span>
						<span class="badge badge-primary badge-primary-color">Content creation</span>
					</div>		    									
					</div>	
				</div>	
			  <div class="row">
				<div class="col-sm-12">
				  <div class="item-detail">I am managing my own Youtube channel with content that helps to motivate people.</div>
				</div> 		     
			   </div>
			  <div class="row">
				<div class="col-sm-12">
					<a href="https://www.youtube.com/channel/UCMxazynW_BQ9MnbPgENWYvQ" target="_black">shorturl.at/orOTV</a>  
			   </div>
			  </div>			   
			</li>

			<li class="tl-item" ng-repeat="item in retailer_history">
				<div class="row">	
					<div class="col-sm-6">
						<div class="item-title competitipn-p-head">How Microbes Spoilage the Carbonate Soft Drinks</div>	
					</div>
					<div class="col-sm-6">
					<div class="row computer-trainee-div">
						<span class="badge badge-primary badge-primary-color">Microbes</span>
						<span class="badge badge-primary badge-primary-color">Review Article</span>		
					</div>	    									
					</div>	
				</div>	
			  <div class="row">
				<div class="col-sm-12">
				  <div class="item-detail">This is a Review Article which discuss how bacteria contribute to the deterioration of carbonated soft drinks. and how those microorganisms can be found in samples, as well as how prevention and control measures, soft drink processing and manufacturing procedures occur.</div>
				</div> 		     
			   </div>
			  <div class="row">
				<div class="col-sm-12">
					<a href="https://drive.google.com/drive/folders/1EXOLk5aXguSXCIm7hwnuBt63jleEzdjY?usp=sharing" target="_black">shorturl.at/hovF3</a>  
			   </div>
			  </div>			   
			</li>  		    
		  </ul>

		</div>

		<i class="fas fa-trophy fa-lg contact-icon-color"></i><p class="contact-p-head">&nbsp; HONORS & AWARDS</p></i><br>

		<hr class="head-hr-design">	

		<div class="history-tl-container">
		  <ul class="tl">


			<li class="tl-item" ng-repeat="item in retailer_history">
			  <div class="timestamp">
				29th Feb 2020<br>
			  </div>
			  <div class="row">
				<div class="col-sm-8">
				  <div class="item-title competitipn-p-head">Awarded for top 5 best international speakers</div>
				  <div class="item-detail">International Virtual Conference with the participation of more than 20+ countries - organized by UNITAS LPU.</div>
				</div> 
				<div class="col-sm-4" style="margin-left: -50px;">
					<div class="row computer-trainee-div">
						<span class="badge badge-primary badge-primary-color">Best Speaker</span>
						<span class="badge badge-primary badge-primary-color">Covid-19</span>
					</div>
				</div> 			     
			   </div>
			</li>

			<li class="tl-item" ng-repeat="item in retailer_history">
			  <div class="timestamp">
				Apr 2014
			  </div>
			  <div class="row">
				<div class="col-sm-8">
				  <div class="item-title competitipn-p-head">School Sporting Honours for Badminton-2013</div>
				  <div class="item-detail">School colours for recognition and appreciation of the unwavering commitment to enhance the glory of school.</div>
				</div> 
				<div class="col-sm-4" style="margin-left: -50px;">
					<div class="row computer-trainee-div">
						<span class="badge badge-primary badge-primary-color">School colours</span>
						<span class="badge badge-primary badge-primary-color">Badminton</span>
					</div>
				</div> 			     
			   </div>
			</li>

			<li class="tl-item" ng-repeat="item in retailer_history">
			  <div class="timestamp">
				2014
			  </div>
			  <div class="row">
				<div class="col-sm-8">
				  <div class="item-title competitipn-p-head">Change Agent Award</div>
				  <div class="item-detail">HSBC bank conducted a train green program in 2013/2014 with the contribution of 10 schools in the Colombo district.</div>
				</div> 
				<div class="col-sm-4" style="margin-left: -50px;">
					<div class="row computer-trainee-div">
						<span class="badge badge-primary badge-primary-color">Social Services</span>
						<span class="badge badge-primary badge-primary-color">Donation</span>
					</div>
				</div> 			     
			   </div>
			</li>

			<li class="tl-item" ng-repeat="item in retailer_history">
			  <div class="timestamp">
				Sep 2011
			  </div>
			  <div class="row">
				<div class="col-sm-6">
				  <div class="item-title competitipn-p-head">2nd Runners Up-Western Province</div>
				  <div class="item-detail">All Island School Dancing Competition - Western Province</div>
				</div> 
				<div class="col-sm-6" style="margin-left: -50px;">
					<div class="row computer-trainee-div">
						<span class="badge badge-primary badge-primary-color">Dancing</span>
						<span class="badge badge-primary badge-primary-color">2nd Runners Up</span>
					</div>
				</div> 			     
			   </div>
			</li>
		  </ul>

		</div>

		<i class="fa fa-users fa-lg contact-icon-color"></i><p class="contact-p-head">&nbsp; CONFERENCE</p></i><br>

		<hr class="head-hr-design">	

		<div class="history-tl-container">
		  <ul class="tl">


			<li class="tl-item" ng-repeat="item in retailer_history">
			  <div class="timestamp">
				6th Mar 2020<br>
			  </div>
			  <div class="row">
				<div class="col-sm-8">
				  <div class="item-title competitipn-p-head">National Conference on Microbial Bioprospecting</div>
				</div> 
				<div class="col-sm-4" style="margin-left: -50px;">
					<div class="row computer-trainee-div">
						<span class="badge badge-primary badge-primary-color">Microbial Bioprospecting</span>
					</div>
				</div> 			     
			   </div>
			</li>

			<li class="tl-item" ng-repeat="item in retailer_history">
			  <div class="timestamp">
				Sep 2021
			  </div>
			  <div class="row">
				<div class="col-sm-6">
				  <div class="item-title competitipn-p-head">International Conference on Plant Physiology and Biotechnology</div>
				</div> 
				<div class="col-sm-6" style="margin-left: -50px;">
					<div class="row computer-trainee-div">
						<span class="badge badge-primary badge-primary-color">Plant Physiology</span>
						<span class="badge badge-primary badge-primary-color">Biotechnology</span>
					</div>
				</div> 			     
			   </div>
			</li>

		  </ul>

		</div>

		<i class="fas fa-file-code fa-lg contact-icon-color"></i><p class="contact-p-head">&nbsp; REFERENCES</p></i><br>

		<hr class="head-hr-design">	
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-4">
					<p class="exp-p-details">Dr. Ravi Wijesinghe</p>
					<p class="exp-p-details">Physician</p>
					<p class="exp-p-details">(+94) 71 488 0253</p>
				</div>
				<div class="col-sm-4">
					<p class="exp-p-details">Eng. Chamara Gunarathne</p>
					<p class="exp-p-details">Computer Engineer,</p>
					<a href="chamara95.eng@gmail.com">chamara95.eng@gmail.com</a>
					<p class="exp-p-details">+94 71 745 5776</p>
				</div>		
			</div>		
	</div>
</div>

</page>

</body>

</html>